.filterDesktop {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 0;

  .line {
    height: 1px;
    width: 100%;
    background-color: rgba($color: #4c4c4c, $alpha: 0.5);
    margin: 10px 0;
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .menuWrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999D;
  }
}
