.cashSlider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    .cashHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .valueCash {
        background-color: #f4f4f4;
        padding: 10px 5px;
        border-radius: 8px;
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 15px;
      }

      .titleCash {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #202020;
      }
    }
  }

  .btn {
    color: white;
  }
}
