.homeWhyWe {
  padding: 80px 0;

  .title {
    font-family: "Gilroy";
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .container {
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1115px) {
    padding: 30px 0;

    .title {
      text-align: center;
      margin-bottom: 32px;
    }

    .container {
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
