.filterOptions {
  display: flex;
  align-items: center;
  gap: 20px;

  .calendar {
    display: flex;
    gap: 16px;
    padding: 8px 16px;
  }

  @media (max-width: 1280px) {
    .calendar {
      flex-direction: column;
    }

    .cashSlider {
      display: none;
    }
  }
}
