.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;

  .searchLabel {
    cursor: pointer;
  }

  .searchInput {
    border: none;
    outline: none;
    font-size: 20px;
    width: 200px;
    color: #202020;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    width: 100%;
  }
}
