.filterMobile {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 0;
  width: 100%;

  .line {
    height: 1px;
    width: 100%;
    background-color: rgba($color: #4c4c4c, $alpha: 0.5);
    margin: 10px 0;
  }

  .btn {
    width: 100%;
  }

  .modal {
    background-color: white;
    width: 240px;
    border-radius: 16px;
    padding: 16px 12px;

    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btnCross {
        padding-top: 6px;
      }
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #333333;
    }
  }
}
