.placeCard {
  max-width: 372px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 30px;

  .media {
    position: relative;
    user-select: none;

    .image {
      width: 100%;
      height: 255px;
      object-fit: cover;
    }

    .icon {
      position: absolute;
      top: 14px;
      right: 14px;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 23.5px;
    padding: 16px 20px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-family: "Gilroy";
        font-size: 28px;
        font-weight: 400;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .price {
        color: rgb(255, 255, 255);
        font-family: "Gilroy";
        font-size: 20px;
        font-weight: 400;
        border-radius: 20px;
        background: rgb(32, 32, 32);
        padding: 8px 16px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }

    .foot {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn {
        padding: 10px 20px;
      }
    }
  }
}
