.placeList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1115px) {
    max-width: 786px;
  }

  @media (max-width: 808px) {
    justify-content: center;
  }
}
