.homeBanner {
  padding: 65px 0;
  position: relative;

  .container {
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    // Скрываем скроллбар
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btnContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn {
      width: 50.2px;
      height: 47px;
      border-radius: 46px;
      background: rgb(255, 255, 255);
    }
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;

    .dot,
    .active {
      width: 10.5px;
      height: 10.5px;
      border-radius: 50%;
      background-color: rgb(86, 86, 86);
    }

    .active {
      width: 17px;
      height: 17px;
      background-color: rgb(16, 69, 29);
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 35px;
  }
}
