.home {
  .nearestField {
    padding: 80px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;

      .title {
        font-family: "Gilroy";
        font-size: 32px;
        font-weight: 700;
      }
    }
  }

  @media (max-width: 768px) {
    .nearestField {
      .container {
        .title {
          font-size: 24px;
        }
      }
    }
  }

  @media (max-width: 538px) {
    .nearestField {
      .container {
        .title {
          font-size: 20px;
        }

        .btn {
          font-size: 18px;
          padding: 10px 20px;
        }
      }
    }
  }

  @media (max-width: 408px) {
    .nearestField {
      .container {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
      }
    }
  }
}
